{% extends 'base.html' %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
<div class="row">
    <div class="span8">
        <form action="{{ url_for(request.endpoint) }}"
            method="POST"
            class="form-horizontal">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Update</legend>
                {{ wtf.horizontal_field(form.ssn) }}
                {{ wtf.horizontal_field(form.code) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        Update</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
